.blogpic {
    width: 320px;
    aspect-ratio: 1;
    border-radius: 10px;
    object-fit: cover;
}

.posttitle {
    font-size: large;
    text-transform: capitalize;
    color: #000;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    margin-left: 16px;
    margin-right: 16px;
    align-items: center;
    display: block;
    text-align: center;
}


.heading {
    width: 100%;
    justify-content: center;
}

.heading p {
    text-align: center;
    font-size:x-large;
}

body {
    overflow: auto;
}

.spacebetweenposttitleandpost {
    height: 10px;
}